@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
:root{
	--app-bg-color:#FFFFFC;
	--app-link-color: orangered;
}
html{
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-size: 16px;
}
 body{
    font-family: 'Baloo Bhai', cursive;
    margin: 0;
    padding: 0;
    background-color: var(--app-bg-color); 
     object-fit: fill;
     text-align: center;
}
*, *::before *::after{
 	box-sizing: inherit;
 }
.container{
    position: relative;
 	padding: 0 0;
 	margin: 0 auto;
    overflow-x: hidden;
}
#top_sect{
    display: flex;
    flex-direction: row;
    flex-shrink: 2;
    z-index: 10000;
    position: fixed;
    top: 0;
    width: 100%;
    
}
.navbar{
	min-height: 4.063rem;
    display: block;
    position:relative;
    width:  100%;
    background: #FFF;
    margin:0;
    text-align: center;
 }
nav a{
    color: #09210F;
    text-decoration: none;
}
nav select{
    display: none;
}
nav ul li{
    display: inline-block;
    margin-left:40px;
    margin-right: 40px;
    
}
h2{
    color: #FFF;
    font-size: 34px;
    font-family: 'Arvo', serif;
}
#login_box p{
    display: none;
    color: var(--app-link-color); 
}

#auto{
	font-size: 35px;
	background-color: #FFF;
	text-align: center;
    color:#09210F;
    width: 30%;
   
}
a {
    color: #09210F;
    text-decoration: none;
   
}
a:hover{
    color: orange;
}
.active{
    color: orangered;
}


.heading{
    text-align: center;
    font-size: 16px;
    
}
#cars_sect h2{
    color: #000;
}
#heading1{
    text-align: center;
   
    font-size: 16px;
}
#login_box{
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    flex-shrink:row;
    max-height: 100px;
    padding:  0 30px;
	box-shadow:	
		0pt 2px 5px rgba(105, 108, 109,  0.7),	
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    
}
#login_box1{
    background: transparent;
    text-align: center;
    max-height: 100px;
    padding:  0 30px;
	box-shadow:	
		0pt 2px 5px rgba(105, 108, 109,  0.7),	
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    
}
.log_in{
    background-color:#FFF;
    width:auto;
    padding: 10px;
    position: relative;
    border: 2px orangered  solid;
    border-radius: 5px;
    text-align: center;
    max-height: 25px;
    margin-top: 10px;
    cursor: pointer;
}
.sign_up{
    background-color: #FFF;
    width:auto;
    padding: 10px;
    position: relative;
    border: 2px orangered solid;
    border-radius: 5px;
    text-align: center;
    max-height: 25px;
    margin-top: 10px;
    cursor: pointer;
}
#wallpaper{
    min-height: 480px;
    background: url(../img/img104.jpg) no-repeat 0 -500px;
    object-fit: cover;
    margin-top: 4.5rem;
    margin-bottom: 0;
    text-align: center;
}
#search-field input[type="text"]{
    min-height: 36px;
    max-width: 40%;
    padding: 10px;
    text-align: left;
    color: orangered;
    border-radius: 20px;
    border: 2px solid #EEE;
    font-size: 18px;
    font-weight: 200;
    background-color: #EEE;
    background-image:url('http://i47.tinypic.com/r02vbq.png');
    background-repeat:no-repeat;
    background-position:left center;outline:0;
}
#search-div{
 text-align: center;   
}

.form-div{
    background: rgba(0,0,0,0.3);
    color: orangered;
    display: inline-block;
	padding: 10px 20px 20px 20px;
    overflow: hidden;
    border-radius: 7.5px;
    box-shadow:	
		0pt 2px 5px rgba(105, 108, 109,  0.7),	
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    
    
}
.form-div input[type="text"],
.form-div input[type="date"]{
    background: transparent;
    border: 0;
    border-bottom: 1px solid #FFF;
    color:#FFF;
}
.form-div input[type="submit"]{
    background-color: orangered;
    margin: 10px 10px 10px 5px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    color: #FFF;
    cursor: pointer;
}
.form-div input[type="password"]{
    border: 10px;
    padding: 5px;
    border-radius: 5px;
    
}
#formdiv{
    width: 35%;
    text-align: left;
}
#formdiv p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: orangered;
}
 #ref { 
    text-align: center;
     color: orangered;
}

select{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 100%;
    height: 30px;
    color: #FFF;
    background: transparent;
    border-radius: 3.5px;
    border: 0;
    border-bottom: 1px solid #FFF;
}
 input{
	display: block;
    width: 97%;
    margin:auto;
    color: #09210F;
    border: 0;
    
}
.email_box{
    padding-bottom: 1rem;
    padding-top: 2rem;
    background-color: #09210F;
    color: #FFF;
    display: grid;
    grid-template-columns:  1fr 1fr;
}
.email_box h3{
    text-align: center;
    font-size: 22px;
    color: orangered;
}

.email{
    width: 25%;
    display: inline;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}
.btn{
    width: 7rem;
    background-color: #FFF;
    padding: 10px;
    position: relative;
    border: 2px #2EB445 solid;
    border-radius: 5px;
    text-align: center;
    max-height: 50px;
    margin-top: 10px;
    cursor: pointer;
}
#btn{
    background-color: orangered;
    border-radius: 7.5px;
    margin-top: 1.6rem;
    padding: 0.625rem;
    font-size: 16px;
    font-weight: 200;
}
.img_div1 .btn{
   margin-left: 30%; 
    cursor: pointer;
}
.btn2{
    text-align: center;
    margin-left: 50px;
    cursor: pointer;
}

.details_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 1rem;
    width: inherit;
}
.img_div1{
    background-color: #FFF;
    padding: 10px;
    position: relative;
    border: 2px #2EB445 solid;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 1rem;
    border: 0;
    box-shadow:	
		0pt 2px 5px rgba(105, 108, 109,  0.7),	
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
}
.car_ad_form{
    width: 50%;
    margin: auto;
     margin-bottom: 40px;
    color: #2EB445;
   text-align: left;
    background: rgba(0,0,0,0.3);
    color: orangered;
    display: inline-block;
	padding: 10px 20px 20px 20px;
    overflow: hidden;
    border-bottom: 1px solid #FFF;
    border-radius: 7.5px;
    box-shadow:	
		0pt 2px 5px rgba(105, 108, 109,  0.7),	
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    
}
.car_ad_form input[type = "text"]{
    border: 0;
    border-bottom: 1px solid #FFF;
    background: transparent;
}
.car_ad_form input[type="submit"]{
    background-color: orangered;
    margin: 10px;
    padding: 10px;
    margin-left: 14rem;
    border-radius: 5px;
    font-weight: bolder;
    color: #FFF;
    width: 35%;
    cursor: pointer;
   
}
#about{
    margin: auto;
    padding: 20px;
    text-align: justify;
    color: #2EB445;
    font-size: 1.05rem;
    background: transparent;
    background-color: aliceblue;
    max-width: 70%;
    border-radius: 10px;
    
}
#nextpage{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
footer {
  padding: 10px;
  background-color: #09210F;
  color: orangered;
    margin-top: 20px;
    padding-top: 10px;
    line-height: 2.5rem;
    width: inherit;
    text-align: center;
}
.icon-git{
    font-size: 30px;
    color: orangered;
}
#social a{
    color: orangered;
}
@media only screen and (min-width: 1480px){

.car_ad_form input[type="submit"]{
        margin-left: 15rem;
        width: 40%;
    }
    
}
@media only screen and (max-width: 1360px) {
    .navbar{
	width: 100%;
}
	.navbar > .container{
	display:block;
	}
    #wallpaper{
    width: 100%;
    min-height: 200px;
    background-image: url(../img/img104.jpg) no-repeat 0 -800px;
    display: inherit;   
}
   
    .email_box h3{
    float: none;
    text-align: center;
    margin-left: 1rem;
    }
  
.log_in{
    margin-left: 1.25rem;
    width:10%;
    padding: 10px;
    position: relative;
    border: 2px #FFF solid;
    text-align: center;
    flex-shrink: 3.5;
}
.sign_up{
    margin-left: 3.25rem;
    width:10%;
    padding: 10px;
    position: relative;
    border: 2px #FFF solid;
    flex-shrink: 3.5;
    }
nav ul{
    display:none;
}
    
    .select-selected {
  background-color: #2EB445;
        color: #FFF;
}
    nav select{
    list-style-type: none;
    display: block;
    float: right;
    border: none;
    width: 15%;
    background-color: #09210F ;
    color: orangered;
    text-align: center;
        margin-top: 20px;
    }
    .car_ad_form input[type="submit"]{
        margin-left: 10rem;
        width: 40%;
    }

}

@media only screen and (max-width: 860px) {
    font-size: 0.6rem;
    
    #auto{
        width:50%;
    }
    nav select{
        width: 25%;
    }
    .form-div{
        margin-bottom: 3rem;
    }
    .car_ad_form input[type="submit"]{
        margin-left: 4rem;
        width: 60%;
    }

    .details_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1rem;
}
}

@media only screen and (max-width: 480px) {
    #container{
        padding-top: 60px;
    }
    h2{
      display: none;
    }
    #login_box p{
    display: block;
    color: var(--app-link-color); 
}

	.navbar > .container{
	display:block;
	}
    #auto{
        width:70%;
    }
    nav select{
        width: 30%;
    }
    
    .form-div{
    display: grid;
        grid-template-rows: 1fr 1fr fr;
    width: inherit;

    }
    
    .email_box h3{
    float: right;
        width: 50%;
        text-align: center;
        margin-left: none;
    }
    .details_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
}
.log_in{
    width:8%;
    padding: 10px;
    position: relative;
    border: 2px #FFF solid;
    margin-left: 1.25rem; 
    font-size: 0.65rem;
    text-align: center;
    flex-shrink: 2;
}
.sign_up{
    margin-left: 3.25rem;
    width:8%;
    padding: 10px;
    position: relative;
    border: 2px #FFF solid;
    font-size: 0.65rem;
    text-align: center;
    flex-shrink: 2;
    }
    .email{
        width:50%;
    }
}


@media only screen and (max-width: 380px){
    #top_sect{
        width: 100%;
    }
    
    nav select{
        width: 35%;
    }
    #auto{
        width: 70%;
    }
    .log_in{
        display: none;
    }
    .sign_up{
        display: none
    }
    #login_box1{
        display: block;
    }
    .email{
        width: 50%;
    }
    .details_grid{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 1rem;
}
    .car_ad_form input[type="submit"]{
        margin-left: 10px;
        width: 80%;
    }
}